.bg-white{
background-color: white;
}

.cover{
    height: 32rem;
}

.cover-brand{
    height: 33rem;
}

.position-text{
    position: absolute;
    top:11rem;
    left:10rem;
}

.large{
    font-size: 3rem;
    width: 17.5rem;
}

.spacing-info{
    margin: 3rem 0rem; 
}

.spacing-hyphen{
    margin: 2rem 0rem;
}

.margin{
padding: 2rem 7rem;
}

.card-body{
    padding: 1rem 0rem;
}

.black{
    background-color:black;
}

.card-text{
    width: 90%;
}


.text-size{
    font-size: 18px;
}

.card{
    border: none;
}


.position-text-brand{
    position: absolute;
    top:11rem;
    left:10rem;   
}

.size{
    font-size: 22px;
}

.heading-size{
    font-size: 3rem;
}

.blue{
    background-color: rgba(50, 108, 243, 0.952);
}


.padding-blue{
    padding: 1.5rem 0rem 0.9rem 0rem;
}

.btn-space{
margin-top: -14px;
margin-left: 14px;
font-size: 14px;
}

.heading-large{
font-size: 3rem;
}

.footer-list{
    display: flex;
}

.footer-list li{
list-style: none;
margin: 10px;
}

footer img{
    margin-top: 10px;
}



@media(max-width: 980px){
 .position-text{
    left:0;
    right: 0;
    width: 100%;
    padding: 5%;
 }
 .position-text h1{
    width: 100% !important;
 }
 .position-text p{
    width:  100% !important;
 }

 .margin{
    padding: 2rem 3rem;
 }

 .cover-brand{
    height: 42rem;
}
 .position-text-brand{
    top:8rem;
    left: 0;
    margin:0 4rem;
 }
 .padding-blue{
    text-align: center;
 }
 .padding-blue p{
    margin: 4px;
    margin-bottom: 18px;
 }

 .col-lg-2{
    padding-bottom: 12px;
 }
}